version: "3.8"
services:
  mysql:
    image: mysql:latest
    container_name: myapp-mysql
    volumes:
      - ./data/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=rootpass
      - MYSQL_DATABASE=jornadaalmuerzo
      - MYSQL_USER=root
      - MYSQL_PASSWORD=rootpass
    ports:
      - "33069:3306"

  redis:
    build:
      context: .
      dockerfile: Dockerfile.redis
    ports:
      - 6379:6379
    volumes:
      - ../RedisData/data:/data
    command: redis-server

  app:
    build:
      context: .
      dockerfile: Dockerfile.php
    command: "php artisan serve --host=0.0.0.0"
    volumes:
      - /var/www/html/
    ports:
      - 8000:8000
    depends_on:
      - redis
      - mysql

  queue:
    build:
      context: .
      dockerfile: Dockerfile.php
    command: "php artisan queue:work"
    volumes:
        - /var/www/html/
    depends_on:
      - redis
      - mysql
      - websockets

  schedule:
    build:
      context: .
      dockerfile: Dockerfile.php
    command: "php artisan schedule:run"
    volumes:
        - /var/www/html/
    depends_on:
      - redis
      - mysql
      - websockets

  websockets:
    build:
      context: .
      dockerfile: Dockerfile.php
    command: "php artisan websockets:serve --host=0.0.0.0"
    ports:
      - 6001:6001
    expose:
      - "6001"
    depends_on:
      - redis
      - mysql
